node_modules
/.parcel-cache
.parcel-cache/snapshot-90119cf973c747f0.txt
.parcel-cache/requestGraph-nodes-0-90119cf973c747f0-0
.parcel-cache/requestGraph-90119cf973c747f0-0
.parcel-cache/data.mdb
.parcel-cache/d0d4aa4a0c5416be-AssetGraph-0
.parcel-cache/7f973df67467291d-AssetGraph-0
.parcel-cache/5350436211165b0b-BundleGraph-0
/.parcel-cache
